@charset "utf-8";
/* CSS Document */
@charset "utf-8";
.wrap{
	position: relative;
	width: 1700px;
    margin:auto;
}
.nav{
	opacity: 1;
	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	font-family: "微软雅黑";
	border-bottom: 5px solid #CCC;
	font-size: 130%;
	background-color: #FFF;
	}
.header{
	height: 0;
	width: 100%;
	font-family: "微软雅黑";
	padding-bottom:4%;
	margin-top: 60px;
	}
.main{
	height: 700px;
	width: 90%;
	font-family: "微软雅黑";
	margin: auto;
	background-image: url(../image/first_news.jpg);
	}
.text{
	height: 670px;
	width: 80%;
	font-family: "微软雅黑";
	font-size: 24px;
	text-align: center;
	margin: auto;
	padding-top:50px;
	}
.content1{
	width: 90%;
	height: 1000px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	z-index: 1;
	}
.content1-title{
	height: 50px;
	width: 100%;
	font-family: "微软雅黑";
	padding-top: 5%;
	font-size: 36px;
	text-align: center;
	}
.content1-top{
	height: 50px;
	width: 100%;
	font-family: "微软雅黑";
	padding-top: 5%;
	}
#content1-top-section1{
	width: 18%;
	font-family: "微软雅黑";
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	float: left;
	cursor: pointer;
	margin-right: 11%;
	margin-left: 11%;
	}	
#content1-top-section2{
	width: 18%;
	font-family: "微软雅黑";
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	float: left;
	cursor: pointer;
	}
#content1-top-section3{
	width: 18%;
	font-family: "微软雅黑";
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	float: left;
	cursor: pointer;
	margin-left: 11%;
	}	
#content1-bottom1{
	height: 830px;;
	width: 90%;
	font-family: "微软雅黑";
	position: absolute;
	}
#content1-bottom2{
	height: 830px;
	width: 90%;
	font-family: "微软雅黑";
	position: absolute;
	}
#content1-bottom3{
	height: 830px;
	width: 90%;
	font-family: "微软雅黑";
	position: absolute;
	}
.line1{
	height: 0;
	width: 13%;
	padding-bottom: 1%;
	font-family: "微软雅黑";
	margin-left: 13%;
	}
.line2{
	height: 0;
	width: 13%;
	padding-bottom: 1%;
	font-family: "微软雅黑";
	margin-left: 42%;
	}
.line3{
	height: 0;
	width: 13%;
	padding-bottom: 1%;
	font-family: "微软雅黑";
	margin-left: 71%;
	}
.line4{
	height: 0;
	width: 15%;
	padding-bottom: 1%;
	font-family: "微软雅黑";
	margin-left: 13%;
	}
.line5{
	height: 0;
	width: 15%;
	padding-bottom: 1%;
	font-family: "微软雅黑";
	margin-left: 42%;
	}
.line6{
	height: 0;
	width: 15%;
	padding-bottom: 1%;
	font-family: "微软雅黑";
	margin-left: 71%;
	}	
.content2{
	width: 90%;
	height: 1000px;
	margin-bottom: 30px;
	margin-right: auto;
	margin-left: auto;
	z-index: 1;
	}
.content2-title{
	height: 50px;
	width: 100%;
	font-family: "微软雅黑";
	padding-top: 5%;
	font-size: 36px;
	text-align: center;
	}
.content2-top{
	height: 50px;
	width: 100%;
	font-family: "微软雅黑";
	padding-top: 5%;
	}
#content2-top-section1{
	width: 18%;
	font-family: "微软雅黑";
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	float: left;
	cursor: pointer;
	margin-right: 11%;
	margin-left: 11%;
	}	
#content2-top-section2{
	width: 18%;
	font-family: "微软雅黑";
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	float: left;
	cursor: pointer;
	}
#content2-top-section3{
	width: 18%;
	font-family: "微软雅黑";
	font-size: 22px;
	text-align: center;
	line-height: 50px;
	float: left;
	cursor: pointer;
	margin-left: 11%;
	}	
#content2-bottom1{
	height: 830px;
	width: 90%;
	font-family: "微软雅黑";
	position: absolute;
	}
#content2-bottom2{
	height: 830px;
	width: 90%;
	font-family: "微软雅黑";
	position: absolute;
	}
#content2-bottom3{
	height: 830px;
	width: 90%;
	font-family: "微软雅黑";
	position: absolute;
	}
