@charset "utf-8";
.wrap{
	position: relative;
	width: 1700px;
	margin: auto;
	overflow:hidden;/*增加*/
}
.codeImge
{
	position:absolute;
	top:20%;

}
.nav{
	z-index: 101;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	width: 100%;
	font-family: "微软雅黑";
	border-bottom: 5px solid #CCC;
	font-size: 130%;
	background-color: #9d3742;
	}
.header{
	height: 0;
	width: 100%;
	font-family: "微软雅黑";
	padding-bottom: 3%;
	margin-top: 60px;
	overflow:hidden;
	}
	
.main{
	height:700px;
	width:100%;
	font-family: "微软雅黑";
	font-size: 24px;
	z-index: 10;
	background-size:100% 100%
	}
.contain
{
	width:700px;
	padding-top:2%;
	background-color:#dde2e77a;
	position:relative;
	top:12%;
	margin:auto;
	border: 3px solid white;
	border-radius: 20px; 
	
}
