@CHARSET "UTF-8";
.wrap{
            position: relative;
            width: 100%;
            margin:auto;
        }
        .nav{

            z-index: 101;
            position: fixed;
            top: 0;
            left: 0;
            height: 50px;
            width: 100%;
            border-bottom: 5px solid #CCC;
            font-size: 130%;
            background-color: #FFF;
        }
        .header{
            height: 0;
            width: 100%;
            padding-bottom:3%;
            margin-top: 60px;
        }
        .main{
            width: 55%;
            height: 100%;
            margin-bottom: 30px;
            z-index: 1;
            float: left;
            position: relative;
            left: 10%;
        }
        .top
        {
            width: 3%;
            height: 100px;
            background-color: #1b6d85;
            position: fixed;
            top: 80%;
            right: 0px;

        }
        * { margin: 0; padding: 0;  text-decoration: none;}
        a { color: #fff; text-decoration: none; }
        a:hover {color: #F30}
        ul{ padding-left:8%;list-style: none;width:1700px; }
        .nav li { float: left; position:relative; height:50px; width:12%;text-align: center; }
        .nav li a { display: block; height: 50px; text-align: center; line-height: 50px; width:100%;margin-left: 1px; color: #ffac00;text-decoration: none;}
        .subNav{ position:absolute; top:100%; left:0; width:100%; height:0; overflow:hidden;margin:0px;padding:0px;}
        .subNav li{width:100%;text-align: center; }
        .subNav li a{ background:#5A191B;color:#efefef;}
        .subNav li a:hover{ background:#c04851;color:#FFD111; }
        .nav  .person{
            position:absolute;
            right:5%;
            width:11%;
        }
        .nav  .person a
        {
            width:100%;
        }


         .miantopic
        {
             width: 95%;
             background-color: #d6aba5;
             height: 100%;
             margin: auto;



        }
        .mianshow
        {
            width: 27%;
            height: 78%;
            background-color: #1b6d85;
            position: fixed;
            float: left;
            right: 5%;
            padding-top: 2%;


        }
        .imgs
        {
            width: 90%;
            height: 35%;

            margin: auto;
        }
        .topic_img
        {
            width: 22%;
            background-color: #a3a3a3;
            float: left;
            height: 100%;
            position: relative;
        }
        .topic
        {
            margin-top: 3%;
            width: 100%;
            background-color: #1b6d85;
            height: 200px;
        }
        .topics
        {
            min-height: 50px;
            margin-bottom: 2%;
            width: 100%;border: 1px solid #ff4254;

        }
        .topics:after
        {
            content:"";
            display:block;
            height: 0;
            clear: both;
        }
        .text
        {
            margin-top: 2%;
            margin-left: 5%;
            padding: 1px;
            width: 80%;
            border: 1px solid #b7b7b7;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            border-radius: 4px;
            height: 60px;
            margin-bottom: 2%;

        }
        .btn
        {
          /*   position: absolute; */
            margin-left: 1.25em;
            /* bottom: 15%; */
            padding: 5px;
            border: none;
            -webkit-border-radius: 1.25em;
            -moz-border-radius: 1.25em;
            border-radius: 1.25em;
            width: 8%;
            font-size: 12pt;
            color: #fff;
            background-color: #66f;
            cursor: pointer;

        }
        p{
            text-indent: 2em;
        }
        .touser
        {
            position: relative;

        }
        .reply
        {
            background-color: #1b6d85;
            width: 80%;
            margin: auto;
            padding-top: 1%;
        }
        .comments
        {
            position: relative;
        }

        .btn:hover { background-color: #03c; }
        nav{/*轮播图*/

            width: 100%;
            height: 100px;
            overflow: hidden;

            margin-top: 0px;
            margin-right: 0px;
            margin-bottom: 60px;
            margin-left: 0px;
        }
        #index{
            position: absolute;
            left:30%;
            top:40%;

        }

        #index li{
            width:10px;
            height: 10px;
            opacity:0.5;
            border-radius: 100%;
            background-color: #eee;
            display: inline-block;
            border-radius:100%;
            margin-left:8px;
        }
        #img{
            width: 100%;
            height: 100px;
            margin:0px;
            padding:0px;
        }

        #img li{
            width: 100%;
            height: 100px;
            position: absolute;/*必须设置为absolute，否则第一个li会把后面的都覆盖*/
            z-index: -1;
            opacity: 0;
            transition: opacity 1s ease-in;
        }
        #index .on{
            background-color: black;
        }
        #img .opa-on{
            opacity:1;
        }
        .imgs
        {
            line-height: 160%;
        }
        .follow
        {
            padding: 5px;
            border: none;
            -webkit-border-radius: 1.25em;
            -moz-border-radius: 1.25em;
            border-radius: 1.25em;
            width: 8%;
            font-size: 12pt;
            color: #fff;
            background-color: #66f;
            cursor: pointer;
            text-align: center;

        }
        .topic_imgs span
        {
            margin-left: 5%;

        }
        .topic_imgs a
        {
            color: #5A191B;
        }
        .topic_imgs a:hover
        {
            color: #d60306;
        }
         .page{
    list-style: none;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #0099FF;
    margin: 5px;
    background-color: #0099FF;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #0099FF;
    background-color: #0099FF;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}
    
    .page{
	width:100%;
	height:30px;
	margin:0px;
	padding-left:0;
	padding-right:0;	
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
	}
#topicnum
{

	

}
  .page .img-page{
  font-size: 0;
  }
  .page a.selected{
  background-color: #0080ff;
  }
  .page a{
  font-size: 14px;
  display: inline-block;
  width: 50px;
  height: 30px;
  color: #fff;
  border-radius: 3px;
  background-color: #ED8546;
  margin: 0 5px;
      

   